PS_DATA_SOURCE_URI=postgresql://postgres:postgres@host.docker.internal:57322/postgres
PS_STORAGE_SOURCE_URI=postgresql://postgres:postgres@host.docker.internal:57322/postgres
PS_SUPABASE_JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long

PS_PORT=8081
